<html>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>

    let socket =new WebSocket('ws://localhost:8000/ws/polData/');
    socket.onopen =function(e){
        alert('Connection established');
    };

    socket.onmessage = function(e){
        console.log(e.data);
        var recData=JSON.parse(e.data);
        dataObjNew=dataObj['data']['datasets'][0]['data'];
        dataObjNew.shift();
        dataObjNew.push(recData.value);
        dataObj['data']['datasets'][0]['data']=dataObjNew;
        window.myLine.update();

    };

    socket.onclose = function(e){
        alert('Connection CLosed');
    };
    
    </script>
<body>
    <div style="max-width: 900px; max-height: 400px;">
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>
</body>
    
    <script>
    var dataObj={
        type: 'line',
        data: {
            labels: [1,2,3,4,5,6],
            datasets: [{
                label: 'Real time data',
                data: [12, 19, 3, 5, 2, 3],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myLine = new Chart(ctx,dataObj );
    </script>
</html>